.hero {
  background-image: url("./images/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text {
  align-items: center;
  text-align: center;
  padding: 5rem 0;
}

.text h1 {
  font-size: 10rem;
  font-weight: 400;
  color: #fff;
}

.hero p {
  color: #fff;
  padding: 2rem;
}

@media (max-width: 786px) {
  .hero{
    padding-top: 2rem;
  }
  .text {
    align-items: center;
    text-align: center;
    padding: 1rem 0;
  }
  .text h1 {
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
  }
  .hero p {
    color: #fff;
    font-size: 10px;
    padding: 1rem;
  }
}
